anyio==4.9.0
cmd2==2.5.11
colorlog==6.9.0
comm==0.2.2
gast==0.6.0
gnureadline==8.2.13
idna==3.10
ipython==8.18.1
keras==3.9.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==1.5.3
pbr==6.1.1
Pygments==2.18.0
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.11.4
pydantic_core==2.33.2
pytorch-forecasting==0.10.0
pytorch-lightning==1.8.6
pytorch_optimizer==2.12.0
pytz==2022.7.1
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.0.1
threadpoolctl==3.5.0
torch==1.13.1
tqdm==4.67.1
